body {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #06d6a0;
}

#form-data-container,
#form-amb-container {
  display: none;
  border: 3px solid brown;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  background-color: #118ab2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#table-container {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}
table,th,td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

/* Contenedor de campos de entrada */
#inputs-container,
#inputs-container-amb {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

/* Campos de entrada y etiquetas */
#input-field {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

label {
  font-weight: lighter;
  font-size: small;
}

input,
select {
  width: 340px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}

/* Contenedores de botones */
#buttons-container,
#btns-container-edit-delete,
#btns-containe {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

/* Botones */
button {
  height: 50px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 7px;
  padding: 0 15px;
  text-align: center;
  min-width: 150px;
  font-weight: bold;
  font-size: medium;
}

#btn-accept {
  background-color: green;
}

#btn-edit {
  background-color: yellow;
}

#btn-delete, #cell-btn-delete {
  background-color: red;
}

#cell-btn-edit, #cell-btn-delete {
    min-width: unset !important;
    width: 100px !important;
    height: 40px !important;
}

.spinner-container {
    position: fixed; /* Cambiado a fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrar el spinner */
    z-index: 999; /* Valor alto para asegurar que esté por encima del contenido */
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}